pkgbase = cef-minimal-obs
	pkgdesc = Chromium Embedded Framework minimal release
	pkgver = 89.0.18
	pkgrel = 1
	url = https://bitbucket.org/chromiumembedded/cef
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = make
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = libglvnd
	depends = pango
	depends = libxcursor
	depends = dbus
	depends = libxrandr
	depends = libxcomposite
	depends = at-spi2-atk
	provides = cef
	conflicts = cef-standard
	conflicts = cef-git
	conflicts = cef-minimal
	source = https://cef-builds.spotifycdn.com/cef_binary_89.0.18%2Bgb36241d%2Bchromium-89.0.4389.114_linux64_minimal.tar.bz2
	sha512sums = 28b2c7eb7e7de704fd1056cd192462d6b031922ef00e2d334fedad65513f7f81a687ee8cee5719984edee5352247ee39fd346c81ee5f84918b677497fca051bf

pkgname = cef-minimal-obs
