pkgbase = cef-minimal-obs
	pkgdesc = Chromium Embedded Framework minimal release
	pkgver = 95.7.10
	pkgrel = 1
	url = https://bitbucket.org/chromiumembedded/cef
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = make
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = libglvnd
	depends = pango
	depends = libxcursor
	depends = dbus
	depends = libxrandr
	depends = libxcomposite
	depends = at-spi2-atk
	provides = cef
	conflicts = cef-standard
	conflicts = cef-git
	conflicts = cef-minimal
	source = https://cef-builds.spotifycdn.com/cef_binary_95.7.10%2Bg00d4ad5%2Bchromium-95.0.4638.54_linux64_minimal.tar.bz2
	sha512sums = 9a3184f73646c2388c0ce1a731325cd50dfbec48398a8f94a565324fb4b4cf35517de93db422aaf3cbeafb61fdb41b9a8fbba4da46b486ace168214af32b22cc

pkgname = cef-minimal-obs
